

<div class="row  mt-15">
    <div class="col-md-6 mx-auto">
        <div class="card card-login mx-auto my-5 crd-login-bck">
            <div class="card-header card-header-style">LOGIN</div>

            <div class="card-body">
                <form action="/login" method="post">

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="a-login-link">Email address</label>
                        <input name="email" class="form-control login-input-focus inputTxt" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="a-login-link">Password</label>
                        <input name="password" class="form-control login-input-focus inputTxt" id="exampleInputPassword1" type="password" placeholder="Password">
                    </div>
                    {{!-- <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"> Remember Password</label>
                        </div>
                    </div> --}}
                    <button type="submit" class="btn btn-primary btn-block login-btn-style">Login</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3 a-login-link" href="/register">Register an Account</a>
                    {{!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> --}}
                    <a class="d-block small a-login-link" href="/">Home Page</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
 