<div class="container-fluid">
    <br><br><br>
<div class="row">
  <div class="col-md-4">  </div>
   <div class="col-md-4 p-2"><div class="alert welcome alert-success alert-dismissible fade show mt-2" role="alert">
                    <strong>WELCOME {{user.firstName}}</strong>
                </div></div>
                  <div class="col-md-3">  </div>
</div>

  <div class="row mt-4 ml-4">
      <div class="col-md-1">&nbsp;</div>
    <div class="col-sm-3 text-center ">
      <div class="card" style="cursor:pointer;">
          <i class="fa fa-address-card   p-4" style="font-size:44px"></i>
  <div class="card-body">
      <span class=" "> <a href="/admin/posts">POST</a></span>
  
  </div>
</div>
</div>
    
    <div class="col-sm-3 text-center">
     <div class="card" style="cursor:pointer;">
          <i class="fa fa-newspaper-o  p-4" style="font-size:44px"></i>
  <div class="card-body">
     <a href="/admin/category">CATEGORY</a>  
  </div>
</div>
    </div>

    <div class="col-sm-3 text-center">
     <div class="card" style="cursor:pointer;">
          <i class="fa fa-user  p-4" style="font-size:44px"></i>
  <div class="card-body">
    <a href="/admin/profile">PROFILE</a> 
  </div>
</div>
    </div>
    </div>
  </div>
</div>