{{> default/header }}

<body>

<!-- Navigation -->
{{> default/top-navigation }}

<!-- Page Content -->
<div class="container content">
    {{> default/messages}}

    {{{ body }}}

</div>
<!-- /.container -->
  {{> default/footer }}  
