 

/* POSTS PAGE */
.input-brdr{border: 1px solid #ffde86;}
.left-menu{background: linear-gradient(to top, #100f5a, #2f044a)!important;}
.left-inner-menu{background-color: #370459 !important;}
.leftMenuHeader-style{background-color: #2d054b  !important;}
.leftMenu-footer{background-color: #120e59 !important;}
.liMenu-style{border-bottom: 1px solid #552284;}
/*  */

/* CATEGORY */
.tble_background{background-color: #2d054b !important;}
/*  */