<footer class="sticky-footer" id="footer">
    <div class="container">
        <div class="text-center">
            <small>&nbsp;</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span class="text-dark  ">Ready to Leave?</span></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select <span class="text-info">"Logout"</span> below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-outline-warning" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap-switch.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!-- Custom scripts for this page-->
<script src="/js/sb-admin-datatables.min.js"></script>
<script src="/js/sb-admin-charts.min.js"></script>



<script>

     /* setTimeout(function () {
           $('.alert').slideUp(1000);
       },1000); */
        
  setTimeout(function () {
           $('.welcome').slideUp(1000);
       },1000);  

         setTimeout(function () {
           $('.postError').slideUp(1000);
       },1000);  

        $("#create-category-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#category-title").val(); 
            $.ajax({
                url: '/admin/category/create',
                type: 'POST',
                data: {name: data},
                success: function (response) {
                    alert('success');
                    var html = `<tr>
                        <td>${response.title}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/category/edit/${response._id}" class="btn btn-sm btn-warning mr-2">Edit</a>
                            <form action="/admin/category/${response._id}?newMethod=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>`;


                    $(".category-list").append(html);

                }
            });

            $("#category-title").val('');
        });

       

    $("#update-category-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#category-title").val();
            var id = $("#category-id").val();

            $.ajax({
                url: `/admin/category/edit/${id}`,
                type: 'POST',
                data: {name: data},
                success: function (response) {
                    window.location.href = response.url;
                        var html = ` <div class="alert alert-success alert-dismissible fade show mt-2 auto-hide" role="alert">
                <strong>{{success_message}}</strong>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>`;
            
                    // alert(data+`Edited`);
                    
                    //$("#alert-message").append(html);
                }
            });
        });

         
           var mealsByCategory = {
    A: ["C", "C++", "MATHS", "PT"],
    B: ["JAVA", "Android", "Python", "CN"],
    C: ["ADA", "MIS", "Cyber-Security", "PUID", "Adv.Java"],
    D: ["CGI", "SS", "DBMS", "DM", "PI"]
}

    function changecat(value) {
         
        if (value.length == 0) document.getElementById("sub").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in mealsByCategory[value]) {
                catOptions += "<option>" + mealsByCategory[value][categoryId] + "</option>";
            }
            document.getElementById("sub").innerHTML = catOptions;
        }
    }

    //https://www.formget.com/jquery-select-change/
</script>
